.carrocel__titulo {
    background: var(--cor-cabecario);
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 18px;
    padding: 1rem 0 1rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-pagination {
    margin: 0.5rem 0 0.5rem 0;
    position: initial !important;
}



@media screen and (min-width: 1024px) {
    .carrocel__titulo {
        padding: 2.5rem 0 1.2rem 0;
        font-size: 1.62rem;
    }

    .swiper-pagination{
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .swiper{
        width: 70%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after{
        display: block;
        position: relative;
        top: 90%;
    }

}

@media screen and (min-width: 1728px) {
  
}