.cabecario {
    background-color: var(--cor-cabecario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecario__container {
    display: flex;
    align-items: center;
    padding: 0.4rem 2rem 0.4rem 1rem;
    gap: 1.5rem;
}


/*Menu hamburguer*/

.cabecario__container__hamburguer {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecario__container__usuario {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url("../assets/Usuario.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecario__container__botao,
.cabecario__container__botao__usuario {
    display: none;
}

.cabecario__container__botao:checked~.botao__menu__lista {
    display: block;
}

.cabecario__container__botao__usuario:checked~.botao__menu__lista__usuario {
    display: block;
}


.botao__menu__lista,
.botao__menu__lista__usuario {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--cor-cabecario);
    padding: 1rem 5rem 1rem 1rem;
}

.botao__menu__lista__titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.botao__menu__lista>li>a,
.botao__menu__lista__usuario>li>a {
    color: var(--cor-degrade);
    font-family: var(--fonte-menu);
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
}